:root{
    --primary-color: #FF136F;
    --secondary-color: #feeae9;
}
.hero-slider{
    background-color: var(--secondary-color);
}
.slider2{
    background-color: rgb(208, 255, 208);
}
.slider3{
    background-color: rgb(226, 226, 255);
}
.hero-slider a, .btn-c{
    background-color: var(--primary-color);
    color: white;
}
.hero-slider .price{
    color: var(--primary-color);
}
.sider-indicators button{
    background-color: var(--primary-color) !important;
}
.catagory-1{
    background: linear-gradient(to top, #FF9C35, #ffb25f);
}
.catagory-2{
    background: linear-gradient(to top, #FF136F, #ff5999);
}
.catagory-3{
    background: linear-gradient(to top, #1713ff, #4b48ff);
}
.subcription-box{
    background-color: var(--secondary-color);
    padding: 150px 10%;
}